<ng-container *ngIf="!loading; Else skeleton">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center" localValue [data]="product" [key]="'name'" [fallback]="'Product'"></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="product-page">

    <!-- BEGIN PRODUCT IMAGE SLIDER -->
    <div class="image-slide-container">
      <ion-slides *ngIf="product.pictures && product.pictures.length; Else slidePlaceholder">
        <ion-slide *ngFor="let image of product.pictures">
          <app-ion-image [src]="image.url" [alt]="product.name"></app-ion-image>
        </ion-slide>
      </ion-slides>
    </div>
    <!--  END PRODUCT IMAGE SLIDER  -->

    <!-- BEGIN TITLE AND DESCRIPTION -->
    <div class="product-detail ion-padding">
      <h3 localValue [data]="product" [key]="'name'"></h3>
      <p localValue [data]="product" [key]="'description'"></p>
    </div>
    <!--  END TITLE AND DESCRIPTION  -->

    <!-- BEGIN SELECT ATTRIBUTES -->
    <ion-list *ngIf="product.combinations && product.combinations.length && product.attributes && product.attributes.length">
      <ion-item *ngFor="let attribute of product.attributes">
        <ion-label localValue [data]="attribute" [key]="'name'"></ion-label>
        <ion-select 
          *ngIf="isAttributeEnabled(attribute); Else disabledSelect" 
          [value]="getAttributeSelectValue(attribute)"
          (ionChange)="handleCombinationSelect(attribute, $event.target.value)"
        >
          <ion-select-option 
            *ngFor="let val of attribute.values; index as valIdx" 
            [value]="valIdx"
            localValue
            [data]="val"
            [key]="'name'"
            [disabled]="!isAttributeValueAvailable(attribute, valIdx)"
          >
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <!--  END SELECT ATTRIBUTES  -->

    <ion-row class="purchase-row" *ngIf="isInStock(); Else outofStockMessage">
      <!-- BEGIN QUANTITY TOUCHSPIN -->
      <ion-col size-sm="12" size-md="4" >
        <ion-row class="touchspin-row ion-padding">
          <ion-label translate="Quantity"></ion-label>
          <div class="touchspin-container">
            <ion-touchspin size="md" [initialValue]="1" (valueChange)="handleQuantityChange($event)">
            </ion-touchspin>
          </div>
        </ion-row>
        <ion-row class="subtotal-row ion-padding">
          <ion-label>
            <span translate="Price"></span>
            <span>{{item|price}}</span>
          </ion-label>
        </ion-row>
      <!--  END  QUANTITY TOUCHSPIN -->
      </ion-col>
      <!-- BEGIN PURCHASE BUTTONS -->
      <ion-col size-sm="12" size-md="8">
        <ion-row class="purchase-buttons-row ion-padding">
          <ion-col>
            <ion-button size="medium" expand="full" (click)="addToCart()">
              <ion-icon slot="start" name="cart-outline"></ion-icon>
              {{"Add to Cart"|translate}}
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button translate="Buy Now" color="danger" size="medium" expand="full" (click)="buyNow()">
              <ion-icon slot="start" name="basket-outline"></ion-icon>
              {{"Buy Now"|translate}}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
      <!--  END PURCHASE BUTTONS  -->
    </ion-row>

    <!-- BEGIN SOCIAL MEDIA SHARE BUTTONS -->
    <ion-row class="share-buttons-row ion-padding ion-justify-content-end">
      <ion-label translate="Share" class="ion-margin-end"></ion-label>
      <a class="share-button" [href]="'https://www.facebook.com/sharer.php?u=' + href" target="_blank">
        <ion-icon class="facebook" name="logo-facebook"></ion-icon>
      </a>
      <a class="share-button" [href]="'https://twitter.com/intent/tweet?text=' + product.name + ' ' + href" target="_blank">
        <ion-icon class="twitter" name="logo-twitter"></ion-icon>
      </a>
      <a class="share-button" [href]="'https://www.pinterest.com/pin/create/button?media=' + href" target="_blank">
        <ion-icon class="pinterest" name="logo-pinterest"></ion-icon>
      </a>
    </ion-row>
    <!--  END SOCIAL MEDIA SHARE BUTTONS  -->
  </ion-content>
</ng-container>

<ng-template #outofStockMessage>
  <ion-row class="ion-padding">
    <ion-label color="danger" localValue [data]="product.stock" [key]="'outofstockMessage'" [fallback]="'Out of stock'">
    </ion-label>
  </ion-row>
</ng-template>

<ng-template #disabledSelect>
  <ion-select disabled>
  </ion-select>
</ng-template>

<ng-template #slidePlaceholder>
  <ion-slides>
    <ion-slide>
      <ion-img src="assets/img/no-image.png" [alt]="product.name">
      </ion-img>
    </ion-slide>
  </ion-slides>
</ng-template>

<ng-template #skeleton>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center"></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="product-page">
    <div class="image-slide-container">
      <ion-slides>
        <ion-slide>
          <ion-img src="assets/img/no-image.png"></ion-img>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="product-detail ion-padding">
      <div><ion-skeleton-text animated style="height: 1.5rem;" class="ion-margin-bottom"></ion-skeleton-text></div>
      <div><ion-skeleton-text animated style="width: 80%; height: 1.2rem;"></ion-skeleton-text></div>
      <div><ion-skeleton-text animated style="width: 50%; height: 1.2rem;"></ion-skeleton-text></div>
      <div><ion-skeleton-text animated style="width: 50%; height: 1.2rem;"></ion-skeleton-text></div>
    </div>
  </ion-content>
</ng-template>