<ng-container *ngIf="!loading; Else skeleton">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center" localValue [data]="product" [key]="'name'" [fallback]="'Product'"></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="product-page">

    <!-- BEGIN PRODUCT IMAGE SLIDER -->
    <div class="image-slide-container">
      <ion-slides *ngIf="product.pictures && product.pictures.length; Else slidePlaceholder">
        <ion-slide *ngFor="let image of product.pictures">
          <app-ion-image [src]="image.url" [alt]="product.name"></app-ion-image>
        </ion-slide>
      </ion-slides>
    </div>
    <!--  END PRODUCT IMAGE SLIDER  -->

    <!-- BEGIN TITLE AND DESCRIPTION -->
    <div class="product-detail ion-padding">
      <h3 localValue [data]="product" [key]="'name'"></h3>
      <p localValue [data]="product" [key]="'description'"></p>
    </div>
    <!--  END TITLE AND DESCRIPTION  -->

    <!-- BEGIN SELECT ATTRIBUTES -->
    <ion-list *ngIf="product.attributes && product.attributes.length">
      <ion-item *ngFor="let attribute of product.attributes; index as attrIdx;">
        <ion-label localValue [data]="attribute" [key]="'name'"></ion-label>
        <ion-select>
          <ion-select-option 
            *ngFor="let val of attribute.values; index as valIdx;" 
            value="valIdx"
            localValue
            [data]="val"
            [key]="'name'"
          >
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <!--  END SELECT ATTRIBUTES  -->

    <!-- BEGIN QUANTITY INPUT -->
    
    <!--  END  QUANTITY INPUT -->

    <!-- BEGIN SOCIAL MEDIA SHARE BUTTONS -->
    <ion-row class="share-buttons-row ion-padding">
      <ion-label translate="Share" class="ion-margin-end"></ion-label>
      <a class="share-button" [href]="'https://www.facebook.com/sharer.php?u=' + href" target="_blank">
        <ion-icon class="facebook" name="logo-facebook"></ion-icon>
      </a>
      <a class="share-button" [href]="'https://twitter.com/intent/tweet?text=' + product.name + ' ' + href" target="_blank">
        <ion-icon class="twitter" name="logo-twitter"></ion-icon>
      </a>
      <a class="share-button" [href]="'https://www.pinterest.com/pin/create/button?media=' + href" target="_blank">
        <ion-icon class="pinterest" name="logo-pinterest"></ion-icon>
      </a>
    </ion-row>
    <!--  END SOCIAL MEDIA SHARE BUTTONS  -->
  </ion-content>
</ng-container>

<ng-template #slidePlaceholder>
  <ion-slides>
    <ion-slide>
      <ion-img src="assets/img/no-image.png" [alt]="product.name">
      </ion-img>
    </ion-slide>
  </ion-slides>
</ng-template>

<ng-template #skeleton>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center"></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="product-page">
    <div class="image-slide-container">
      <ion-slides>
        <ion-slide>
          <ion-img src="assets/img/no-image.png"></ion-img>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="product-detail ion-padding">
      <div><ion-skeleton-text animated style="height: 1.5rem;" class="ion-margin-bottom"></ion-skeleton-text></div>
      <div><ion-skeleton-text animated style="width: 80%; height: 1.2rem;"></ion-skeleton-text></div>
      <div><ion-skeleton-text animated style="width: 50%; height: 1.2rem;"></ion-skeleton-text></div>
      <div><ion-skeleton-text animated style="width: 50%; height: 1.2rem;"></ion-skeleton-text></div>
    </div>
  </ion-content>
</ng-template>