.image-slide-container {
  height: 300px;
  ion-slide {
    height: 300px;
  }
}
.purchase-row > ion-col:first-child {
  display: flex;
  align-items: center;
}
.subtotal-row {
  ion-label {
    line-height: 2rem;
  }
  ion-label > span:first-child {
    margin-right: 1rem;
  }
  ion-label > span:last-child {
    font-size: 1.25rem;
  }
}
.share-buttons-row {
  ion-label {
    line-height: calc(1.75rem + 4px);
  }
  .share-button {
    ion-icon {
      font-size: 1.75rem;
      margin-right: 1rem;
      padding: 2px;
      border: 1px solid #eee;
    }
    ion-icon.facebook {
      color: #3b5998;
    }
    ion-icon.twitter {
      color: #00acee
    }
    ion-icon.pinterest {
      color: #c8232c;
    }
  }
  
}
.touchspin-row {
  ion-label {
    line-height: 2rem;
    margin-right: 1rem;
  }
  .touchspin-container {
    width: 96px;
  }
}
