<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ng-container *ngIf="!loading; Else skeleton">
        <ion-row *ngIf="featuredProducts.length; Else dataEmpty" class="w-100">
          <ion-col size="6" *ngFor="let product of featuredProducts">
            <ion-card class="ion-no-margin" [routerLink]="['product', product._id]">
              <ion-card-content>
                <div class="featured-product-image-container ion-margin-bottom">
                  <app-ion-image
                    [src]="(product.pictures && product.pictures.length) ? product.pictures[0].url : ''"
                    [alt]="product.name"
                    style="height:180px; object-fit:cover;"
                  ></app-ion-image>
                </div>
                <ion-label>
                  <h3 localValue [data]="product" [key]="'name'"></h3>
                  <p>{{product|price}}</p>
                </ion-label>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-template #dataEmpty>
  <span>404</span>
</ng-template>
<ng-template #skeleton>
  <ion-row *ngFor="let idx of [1,2,3]">
    <ion-col size="6">
      <ion-card class="ion-no-margin">
        <ion-card-content>
          <div class="featured-product-image-container ion-margin-bottom">
            <app-ion-image
              src="assets/img/no-image.png"
              alt="awesome product"
            ></app-ion-image>
          </div>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated style="width:80%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width:60%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="ion-no-margin">
        <ion-card-content>
          <div class="featured-product-image-container ion-margin-bottom">
            <app-ion-image
              src="assets/img/no-image.png"
              alt="awesome product"
            ></app-ion-image>
          </div>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated style="width:80%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width:60%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ng-template>