<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>browse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <span *ngIf="!loading; Else skeleton">loaded</span>
  </ion-grid>
</ion-content>


<ng-template #skeleton>
  <ion-row *ngFor="let idx of [1,2,3]">
    <ion-col size="6">
      <ion-card class="ion-no-margin">
        <ion-card-content>
          <div class="featured-product-image-container ion-margin-bottom">
            <app-ion-image
              src="assets/img/no-image.png"
              alt="awesome product"
            ></app-ion-image>
          </div>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated style="width:80%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width:60%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="ion-no-margin">
        <ion-card-content>
          <div class="featured-product-image-container ion-margin-bottom">
            <app-ion-image
              src="assets/img/no-image.png"
              alt="awesome product"
            ></app-ion-image>
          </div>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated style="width:80%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width:60%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ng-template>