  .featured-product-image-container {
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    height: 180px;
    display: table;
    ion-img {
      height: 180px;
      padding: 2px;
    }
}