<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{'Sign In'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-padding-vertical">
    <ion-col class="ion-text-center">
      <img src="assets/img/login.jpg">
    </ion-col>
  </ion-row>
  <div *ngIf="this.loginMode === 'username'; Else formPhone">
    <app-form-username></app-form-username>
    <div class="ion-padding-horizontal">
      <a (click)="toggleLoginMode()">{{'Sign In By Phone' | translate}}</a>
    </div>
  </div>
</ion-content>

<ng-template #formPhone>
  <div>
    <app-form-phone></app-form-phone>
    <div class="ion-padding-horizontal">
      <a (click)="toggleLoginMode()">{{ 'Sign In By Username' | translate }}</a>
    </div>
  </div>
</ng-template>