<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" translate="Sign In"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-padding-vertical">
    <ion-col class="ion-text-center">
      <img alt="Login by password" src="assets/img/login.jpg" *ngIf="loginMode === 'username'; Else loginByPhoneImage"/>
    </ion-col>
  </ion-row>
  <div *ngIf="this.loginMode === 'username'; Else formPhone">
    <app-form-username></app-form-username>
    <div class="ion-padding-horizontal ion-text-center">
      <ion-label color="medium" (click)="toggleLoginMode()" translate="Sign In By Phone"></ion-label>
    </div>
  </div>
</ion-content>

<ng-template #loginByPhoneImage>
  <img alt="Login by phone otp" src="assets/img/login-by-phone.jpg" />
</ng-template>

<ng-template #formPhone>
  <div>
    <app-form-phone></app-form-phone>
    <div class="ion-padding-horizontal ion-text-center">
      <ion-label color="medium" (click)="toggleLoginMode()" translate="Sign In By Username"></ion-label>
    </div>
  </div>
</ng-template>