<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" translate="Sign Up"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-padding-vertical">
    <ion-col class="ion-text-center">
      <img alt="Register" src="assets/img/register-user.png" />
    </ion-col>
  </ion-row>
  <form class="ion-padding-horizontal">
    <ion-list lines="full">
      <ion-item>
        <ion-grid class="ion-no-padding ion-no-margin w-100">
          <ion-row>
            <ion-col size="12">
              <ion-label translate="Phone Number"></ion-label>
              <ion-input [value]="phone" required (change)="phone=$event.target.value" type="text" autocomplete="off"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="ion-margin-top">
        <ion-grid class="ion-no-padding ion-no-margin w-100">
          <ion-row>
            <ion-col size="6">
              <ion-label translate="Verification Code"></ion-label>
              <ion-input [value]="verificationCode" required (change)="verificationCode=$event.target.value" type="text" autocomplete="off"></ion-input>
            </ion-col>
            <ion-col size="6">
              <ion-button [disabled]="phone && phone.length > 7 && phone.length < 15" (click)="handleSendOTP()" class="ion-margin-top" expand="block" type="button" color="tertiary" translate="Send Verification Code"></ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="ion-margin-top">
        <ion-row>
          <ion-col size="12">
            <ion-label translate="Username"></ion-label>
            <ion-input [value]="username" type="text" (change)="username=$event.target.value" autocomplete="on" autofocus=true></ion-input>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item class="ion-margin-top">
        <ion-row>
          <ion-col size="12">
            <ion-label translate="Password"></ion-label>
            <ion-input [value]="password" (change)="password=$event.target.value" required type="password"></ion-input>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item class="ion-margin-top">
        <ion-row>
          <ion-col size="12">
            <ion-label  translate="Password Confirmation"></ion-label>
            <ion-input [value]="passwordConfirmation" (change)="passwordConfirmation=$event.target.value" required type="password"></ion-input>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item class="ion-margin-top" lines="none">
        <ion-button [disabled]="!isInputValid()" (click)="handleSignUp()" slot="end" translate="Sign Up" size="medium" expand="block"></ion-button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>