<form class="ion-padding-horizontal">
  <ion-row class="ion-padding" *ngIf="error">
    <ion-col align="center">
      <ion-label color="danger" [translate]="error"></ion-label>
    </ion-col>
  </ion-row>
  <ion-list lines="full">
    <ion-item>
      <ion-label position="stacked" translate="Username"></ion-label>
      <ion-input required type="text" autocomplete="on" autofocus=true (change)="username = $event.target.value"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" translate="Password"></ion-label>
      <ion-input required type="password" (change)="password = $event.target.value"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding-vertical">
    <ion-button expand="block" type="submit" translate="Sign In" (click)="handleSignIn()" [disabled]="processing"></ion-button>
  </div>
</form>