<form class="ion-padding-horizontal">
  <ion-list lines="full" class="">
    <ion-item>
      <ion-label position="stacked" translate="Username"></ion-label>
      <ion-input required type="text" autocomplete="on" autofocus=true></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" translate="Password"></ion-label>
      <ion-input required type="password"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding-vertical">
    <ion-button expand="block" type="submit" translate="Sign In"></ion-button>
  </div>
</form>