<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating" translate="Username"></ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" translate="Phone Number"></ion-label>
      <ion-input readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" translate="Password"></ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" translate="Password Confirmation"></ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-item class="delivery-address" lines="none">
      <ion-label position="floating" translate="Address"></ion-label>
      <agm-map></agm-map>
    </ion-item>
  </ion-list>
</ion-content>